[run]
omit =
    */asgi.py
    */wsgi.py
    manage.py
    */tests.py
    */__init__.py
    */apps.py

[report]
omit =
    */asgi.py
    */wsgi.py
    manage.py
    */tests.py
    */__init__.py
    */apps.py