[run]
omit =
    */asgi.py
    */wsgi.py
    manage.py
    duid/*
    */__init__.py
    */apps.py
    *tests.py

[report]
omit =
    */asgi.py
    */wsgi.py
    manage.py
    duid/*
    */__init__.py
    */apps.py
    *tests.py